---
layout: default
---

<div class="home">

{% assign posts_by_year = 
   site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
  <h2 class="section-year">{{ year.name }}</h2>
    <ul class="by-year-posts">
      {% for post in year.items %}
          <li class="by-year-posts__link"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <span class="by-year-posts__date">{{ post.date | date: "%d/%m" }}</span> </li>
        {% endfor %}
    </ul>
{% endfor %}
</div>
