<footer class="site-footer">
  <div class="wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://t.me/and_vlad">Telegram</a></li>
          <li><a href="mailto:me@vld.by">me@vld.by</a></li>
          {% if site.github_username %}
          <li>{% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>{% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
