    <header class="header">
      <h1 class="header__text">Владислав Андреев - Блог</h1>
      {% assign current = page.url | downcase | split: '/' %}
      <nav>
        <ul class="menu">
          <li class="menu-item"><a {% if current[1] == nil %} class="active" {% endif %} href="/">Главная</a></li>
          <li class="menu-item"><a {% if current[1] == 'contacts' %} class="active" {% endif %} href="/contacts/index.html">Контакты</a></li>
        </ul>
      </nav>
    </header>
