@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono|Roboto:100');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html,
body {
  background: #f9f9f9;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', serif;
}

.highlight {
  padding: 0;
  margin: 0;
}

.center-image {
  margin: 0 auto;
  display: block;
}

li {
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 5px;
}


pre,
code {
  font-family: 'Fira Mono', monospace;
  font-size: 15px;
  border-radius: 3px;
  background-color: #eef;
  color: #333;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

table {
  color: #333;
  font-family: 'Fira Sans';
  border: 1px solid #333
}

td {
  border: 1px solid #333
}

.main-column {
  margin: 0 auto;
  width: 55%;
}

.header__text {
  color: #333;
  font-family: 'Roboto', serif;
  margin: 2% auto 0;
  text-align: center;
  padding-bottom: 10px;
  width: 40%;
}

/* Sectioned links */

.section-year {
  color: #333;
  font-size: 2em;
  font-family: 'Roboto', serif;
  font-weight: 100;
  overflow: hidden;
}

.by-year-posts {
  font-family: 'Fira Sans', sans-serif;
  list-style: none;
  margin-bottom: 3.5em;
}

.by-year-posts__link {
  font-size: 1.4em;
  margin: 15px 0;
  line-height: 1.5;
}

.by-year-posts__link a {
  color: #333;
  text-decoration: none;
  border-bottom: 6px solid rgba($color: #333, $alpha: 0.1);

  &:hover {
    border-bottom: 6px solid rgb(243, 194, 90);
  }
}

.by-year-posts__date {
  color: #333;
  font-size: 0.7em;
}


/* Menu section */

.menu {
  margin: 1% auto 7.5%;
  list-style: none;
  text-align: center;
}

.menu-item {
  display: inline;
  font-size: 1.2em;
  font-family: 'Fira Sans', sans-serif;
  padding: 1%;
}

.menu-item a {
  color: #333;
  text-decoration: none;
}

.menu-item a:hover,
a.active {
  color: #333;
  border-bottom: 2px solid rgb(243, 194, 90);
}

/* Article section */

.blog-post__title {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  margin-bottom: 1.2em;
  font-size: 2em;
}

.blog-post__meta {
  margin: -2em 0 2.5em 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 100;
  color: #333;
}

.blog-post__content h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: bold;
}

.blog-post__content p {
  color: #333;
  margin-bottom: 1.5em;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.35;
}

.blog-post__content a {
  color: #333;
  text-decoration: none;
  border-bottom: 6px solid rgba($color: #333, $alpha: 0.1);

  &:hover {
    border-bottom-color: #f3c25a;
  }
}

.blog-post__content ul {
  color: #333;
}

.blog-post_fig {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.blog-post__img {
  max-width: 100%;
}

.blog-post_fig__caption {
  color: #333;
  text-align: center;
}

.blog-post__code {
  font-size: 14px;
  font-family: 'Fira Mono', monospace;
}


/*** Media (responsive) ***/

@media screen and (max-width: 580px) {

  .header__text {
    font-size: 1.8em;
    margin: 5% auto 0;
    padding-bottom: 10px;
    width: 90%;
  }

  .main-column {
    margin: 0 auto;
    width: 95%;
  }

  .menu {
    margin-top: 5%;
  }

  .menu-item {
    display: inline;
    width: 90%;
    margin-bottom: 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 6px;
    font-size: 1.4em;
  }

  .by-year-posts {
    padding-inline-start: 10px;
  }

  .by-year-posts__link {
    font-size: 1.3em;
  }

  .by-year-posts__date {
    display: block;
    margin-top: 6px;
  }

  .blog-post__content img {
    max-width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .header__text {
    font-size: 1.7em;
    width: 90%;
  }
}
