---
layout: default
---
<article class="blog-post" itemscope itemtype="http://schema.org/BlogPosting">

    <h1 class="blog-post__title" itemprop="name headline">{{ page.title }}</h1>
    <p class="blog-post__meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

    <section class="blog-post__content" itemprop="articleBody">
        {{ content }}
    </section>
</article>
